{%load static%}
<!doctype html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="docsearch:language" content="ru">
  <meta name="docsearch:version" content="5.0">
  <title>{{ anime_page.title }}</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link rel="stylesheet" href="https://bootstrap5.ru/css/docs.css">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="icon" href="{% static 'images/icon/icon.png' %}" type="image/svg+xml">
</head>

<body>

  <div class="container-fluid ">

    <div class="row  justify-content-start">

      <div class="col col-2 p-0 prew">



        <!-- Логотип -->
        <div class="cont">
          <div class="phot_main_cont">
            <img class="phot_main" src="{% static 'images/logo.png' %}" alt="">
            <img class="" src="{% static 'images/vector.png' %}" alt="">
          </div>

          <!-- Меню -->
          <div style="color: #FFFFFF;">
            <h5 class="menu_text">Меню</h5>
          </div>



          <ul class="list-group ki">
            <!-- Главная -->
            <li class="li-he">
              <a href="{% url 'index' %}" class="var_nav">
                <div class="link_bg_main" id="main">
                  <div class="margain_nav">
                    <img class="icon" style="display: none;" id="icon_non_active_main"
                      src="{% static 'images/icon/none_activ/main_none_activ.png' %}" alt="">
                    <img class="icon" id="icon_active_main" src="{% static 'images/icon/activ/main_activ.png' %}"
                      alt="">
                    <h5 class="text_menu">Главная</h5>
                  </div>
                </div>
              </a>
            </li>

            <!-- Жанры -->
            <li class="li-he" onmouseover="changeItemMain(); rechangeItemMainGender()"
              onmouseout="rechangeItemMain(); changeItemGender()">
              <a href="{% url 'genres' %}" class="var_nav">
                <div class="link_bg" id="gender">
                  <div class="margain_nav">
                    <img class="icon" id="icon_non_active_gender"
                      src="{% static 'images/icon/none_activ/gender_none_activ.png' %}" alt="">
                    <img class="icon" style="display: none;" id="icon_active_gender"
                      src="{% static 'images/icon/activ/gender_activ.png' %}" alt="">
                    <h5 class="text_menu">Жанры</h5>
                  </div>
                </div>
              </a>
            </li>

            <!-- Избранное -->
            <li class="li-he" onmouseover="changeItemMain(); rechangeItemMainFavorite()"
              onmouseout="rechangeItemMain(); changeItemFavorite()">
              <a href="#" class="var_nav">
                <div class="link_bg" id="favorite">
                  <div class="margain_nav">
                    <img class="icon" id="icon_non_active_favorite"
                      src="{% static 'images/icon/none_activ/favorite_none_activ.png' %}" alt="">
                    <img class="icon" style="display: none;" id="icon_active_favorite"
                      src="{% static 'images/icon/activ/favorite_activ.png' %}" alt="">
                    <h5 class="text_menu">Избранное</h5>
                  </div>
                </div>
              </a>
            </li>

            <!-- Премиум -->

            <li onmouseover="changeItemMain(); rechangeItemMainPremium()"
              onmouseout="rechangeItemMain(); changeItemPremium()">
              <a href="#" class="var_nav">
                <div class="link_bg" id="premium">
                  <div class="margain_nav">
                    <img class="icon" id="icon_non_active_premium"
                      src="{% static 'images/icon/none_activ/premium_none_activ.png' %}" alt="">
                    <img class="icon" style="display: none;" id="icon_active_premium"
                      src="{% static 'images/icon/activ/premium_activ.png' %}" alt="">
                    <h5 class="text_menu">Премиум</h5>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>

      </div>

      <div class="col col-10  p-0 osn">
        <div class="col col-12">
          <form action="{% url 'search' %}" method="get">
            <p><input type="search" name="q" placeholder="Поиск по сайту">
              <input type="submit" value="Найти">
            </p>
          </form>

          <div class="row ">
            <div class="col-1"></div>
            <div class="col-10 video">
              <div class="kinobox_player" style="width: 100%; height: 100%;"></div>
            <script src="https://kinobox.tv/kinobox.min.js"></script>
            <script>new Kinobox('.kinobox_player', {search: {kinopoisk: '{{ anime_page.video_url }}'}}).init();</script>
            </div>
            <div class="col-1"></div>







            <div class="col-1"></div>
            <div class="col-2">
              <div class="container_flex_in_dop_func">
                <a href="#">
                  <img class="icon_in_serial" src="{% static 'images\icon\none_activ\favorite_none_activ.png' %}"
                    alt="">
                </a>
                <h5 class="dop_func_in_serial">поделиться</h5>
                <a style="margin-left: 10px;" href="#">
                  <img class="icon_in_serial" src="{% static 'images\icon\none_activ\favorite_none_activ.png' %}"
                    alt="">
                </a>
              </div>
            </div>

            <div class="col-7"></div>
            <div class="col-1 justify-content-end go_to_favorite">
              <a href="#">
                <img class="icon_in_serial" src="{% static 'images\icon\none_activ\favorite_none_activ.png' %}" alt="">
              </a>
            </div>


            <div class="col-1"></div>
            <div class="col-1"></div>

            <div class="col-10">
              <div class="text_in_posters_container">
                <img style="width: 100%;" src="{% static 'images\one_punch_poster.png'%}" alt="">

                <div class="text_in_poster">
                  <div class="cont_textom_ne_osn" style="font-size: 40px; margin-bottom: 20px;">
                    {{ anime_page.title }}
                  </div>
                  
                  <div class="cont_textom_ne_osn" style="margin-bottom: 20px;">
                    2 сезон
                  </div>

                  <div class="cont_textom_ne_osn d-flex" style="margin-bottom: 20px;">
                    <div style="margin-right: 5px;">
                      <img src="{% static 'images/icon/none_activ/premium_none_activ.png'%}" alt="">
                    </div>
                    <div style="margin-right: 10px;">
                      Аниме
                    </div>

                    <div style="margin-right: 5px;">
                      <img src="{% static 'images/icon/clock.png'%}" alt="">
                    </div>
                    <div style="margin-right: 10px;">
                      23 мин/Эп
                    </div>

                    <div style="margin-right: 5px;">
                      <img src="{% static 'images/icon/calendar.png'%}" alt="">
                    </div>
                    <div>
                      {{ anime_page.pubdate }}
                    </div>
                  </div>
                  <div class="cont_textom">
                    {{ anime_page.description }}
                  </div>
                </div>
              </div>

            </div>
            <div class="col-1"></div>
            
          </div>




        </div>
      </div>



    </div>


  </div>


  <script>
    function changeItemMain() {
      document.getElementById('main').style.width = '0%';
      document.getElementById('main').style.color = 'white';
      document.getElementById('icon_non_active_main').style.display = 'block';
      document.getElementById('icon_active_main').style.display = 'none';
    }
    function rechangeItemMain() {
      document.getElementById('main').style.width = '90%';
      document.getElementById('main').style.color = '#C3079A';
      document.getElementById('icon_non_active_main').style.display = 'none';
      document.getElementById('icon_active_main').style.display = 'block';
      document.getElementById('main').style.transition = 'all 0.3s ease-in-out';
    }

    function changeItemGender() {
      document.getElementById('gender').style.width = '0%';
      document.getElementById('gender').style.color = 'white';
      document.getElementById('icon_non_active_gender').style.display = 'block';
      document.getElementById('icon_active_gender').style.display = 'none';
    }
    function rechangeItemMainGender() {
      document.getElementById('gender').style.width = '90%';
      document.getElementById('gender').style.color = '#C3079A';
      document.getElementById('icon_non_active_gender').style.display = 'none';
      document.getElementById('icon_active_gender').style.display = 'block';
      document.getElementById('gender').style.transition = 'all 0.3s ease-in-out';
    }

    function changeItemFavorite() {
      document.getElementById('favorite').style.width = '0%';
      document.getElementById('favorite').style.color = 'white';
      document.getElementById('icon_non_active_favorite').style.display = 'block';
      document.getElementById('icon_active_favorite').style.display = 'none';
    }
    function rechangeItemMainFavorite() {
      document.getElementById('favorite').style.width = '90%';
      document.getElementById('favorite').style.color = '#C3079A';
      document.getElementById('icon_non_active_favorite').style.display = 'none';
      document.getElementById('icon_active_favorite').style.display = 'block';
      document.getElementById('favorite').style.transition = 'all 0.3s ease-in-out';
    }

    function changeItemPremium() {
      document.getElementById('premium').style.width = '0%';
      document.getElementById('premium').style.color = 'white';
      document.getElementById('icon_non_active_premium').style.display = 'block';
      document.getElementById('icon_active_premium').style.display = 'none';
    }
    function rechangeItemMainPremium() {
      document.getElementById('premium').style.width = '90%';
      document.getElementById('premium').style.color = '#C3079A';
      document.getElementById('icon_non_active_premium').style.display = 'none';
      document.getElementById('icon_active_premium').style.display = 'block';
      document.getElementById('premium').style.transition = 'all 0.3s ease-in-out';
    }
  </script>
</body>

</html>