
html { overflow-x:  hidden; -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;   }



body{
    background-color: #1C1D1D;
}
.prew{
    min-height: 100vh;
    height: 100%;
    background-color: #1C1D1D;
}

.name_anime_in_serial{
    font-size: 32px;
    color: white;
}

.dop_func_in_serial{
    font-size: 19px;
    color: white;
}

.osn{
    min-height: 100vh;
    height: 100%;
    background-color: #151414;
}

.container_flex_in_dop_func{
    display: flex;
    
    align-items: center;
}

.link_bg{
    display: flex;
    background-color: #737171;
    width: 0%;
    height: 60px;
    border-radius: 7px;
    color: white;
    align-items: center;
    
}

.poster_img{
    width: 227px;
    height: 387px;
}

.go_to_favorite{
    display: flex;
    justify-content: end;
}

.link_bg_main{
    display: flex;
    background-color: #737171;
    width: 90%;
    height: 60px;
    border-radius: 7px;
    color: #C3079A;
    align-items: center;
    
}

.phot_main_cont{
    text-align: center;
    
}
.container-fluid{
    padding-left: 0px !important;
    padding-right: 0px !important;
}



.cont{
    margin-top: 20px;
}


.ki{
    margin-top: 50px;
    
}

.li-he{
    height: 90px;

}

.menu_text{
    margin-left: 30px;
}

a {
    color: white !important;
    text-decoration: none
  }


.margain_nav{
    display: flex;
    margin-left: 50px;
    justify-content: space-between;
    align-items: center;
    

}

.text_menu{
    font-size: 24px;
}

.icon_in_serial{
    height: 30px;
    width: 30px;
    margin-bottom: 7px;
    margin-right: 10px;
}

.icon{
    display: block;
    width: 100%; 
    height: 100%;
    margin-bottom: 7px;
    margin-right: 10px;
}

.video{
    height: 700px;
    
}

@media (max-width: 1800px){
    .phot_main{
        width: 100px;
    }

    .text_menu{
        font-size: 15px;
    }

    .poster_img{
        width: 183px;
        height: 312px;
    }

}


@media (max-width: 1450px){
    .phot_main_cont{
        text-align: center;
        margin-left: 10px;
        
    }
    .phot_main{
        width: 40px;
    }

    .text_menu{
        display: none;
    }
    .icon{
        width: 20px;
        height: 20px;
    }
    .margain_nav{
        margin-left: 30px;
    }
    .menu_text{
        font-size: 15px;
        margin-left: 15px;
    }
    /* .block_genres{
        display: block;
    } */

    .one_block_genres{
        width: 40%;
    }

    .block_genres_pass{
        display: none;
    }

    @media (max-width: 750px){
        .phot_main_cont{
            text-align: center;
            margin-left: 10px;
            
        }
        .phot_main{
            width: 40px;
        }
    
        .text_menu{
            display: none;
        }
        .icon{
            width: 20px;
            height: 20px;
        }
        .margain_nav{
            margin-left: 30px;
        }
        .menu_text{
            font-size: 15px;
            margin-left: 15px;
        }
        /* .block_genres{
            display: block;
        } */
    
        .one_block_genres{
            width: 100%;

        }
    
        .block_genres_pass{
            display: none;
        }

        .poster_img{
            width: 147px;
            height: 250px;
        }
    }
}