{%load static%}
<!doctype html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="docsearch:language" content="ru">
  <meta name="docsearch:version" content="5.0">
  <title>AnimeStock</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link rel="stylesheet" href="https://bootstrap5.ru/css/docs.css">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="icon" href="{% static 'images/icon/icon.png' %}" type="image/svg+xml">
</head>

<body>

  <div class="container-fluid ">

    <div class="row  justify-content-start">

      <div class="col col-2 p-0 prew">



        <!-- Логотип -->
        <div class="cont">
          <div class="phot_main_cont">
            <img class="phot_main" src="{% static 'images/logo.png' %}" alt="">
            <img class="" src="{% static 'images/vector.png' %}" alt="">
          </div>

          <!-- Меню -->
          <div style="color: #FFFFFF;">
            <h5 class="menu_text">Меню</h5>
          </div>



          <ul class="list-group ki">
            <!-- Главная -->
            <li class="li-he">
              <a href="#" class="var_nav">
                <div class="link_bg_main" id="main">
                  <div class="margain_nav">
                    <img class="icon" style="display: none;" id="icon_non_active_main"
                      src="{% static 'images/icon/none_activ/main_none_activ.png' %}" alt="">
                    <img class="icon" id="icon_active_main" src="{% static 'images/icon/activ/main_activ.png' %}"
                      alt="">
                    <h5 class="text_menu">Главная</h5>
                  </div>
                </div>
              </a>
            </li>

            <!-- Жанры -->
            <li class="li-he" onmouseover="changeItemMain(); rechangeItemMainGender()"
              onmouseout="rechangeItemMain(); changeItemGender()">
              <a href="{% url 'genres' %}" class="var_nav">
                <div class="link_bg" id="gender">
                  <div class="margain_nav">
                    <img class="icon" id="icon_non_active_gender"
                      src="{% static 'images/icon/none_activ/gender_none_activ.png' %}" alt="">
                    <img class="icon" style="display: none;" id="icon_active_gender"
                      src="{% static 'images/icon/activ/gender_activ.png' %}" alt="">
                    <h5 class="text_menu">Жанры</h5>
                  </div>
                </div>
              </a>
            </li>

            <!-- Избранное -->
            <li class="li-he" onmouseover="changeItemMain(); rechangeItemMainFavorite()"
              onmouseout="rechangeItemMain(); changeItemFavorite()">
              <a href="#" class="var_nav">
                <div class="link_bg" id="favorite">
                  <div class="margain_nav">
                    <img class="icon" id="icon_non_active_favorite"
                      src="{% static 'images/icon/none_activ/favorite_none_activ.png' %}" alt="">
                    <img class="icon" style="display: none;" id="icon_active_favorite"
                      src="{% static 'images/icon/activ/favorite_activ.png' %}" alt="">
                    <h5 class="text_menu">Избранное</h5>
                  </div>
                </div>
              </a>
            </li>

            <!-- Премиум -->

            <li class="li-he" onmouseover="changeItemMain(); rechangeItemMainPremium()"
              onmouseout="rechangeItemMain(); changeItemPremium()">
              <a href="#" class="var_nav">
                <div class="link_bg" id="premium">
                  <div class="margain_nav">
                    <img class="icon" id="icon_non_active_premium"
                      src="{% static 'images/icon/none_activ/premium_none_activ.png' %}" alt="">
                    <img class="icon" style="display: none;" id="icon_active_premium"
                      src="{% static 'images/icon/activ/premium_activ.png' %}" alt="">
                    <h5 class="text_menu">Премиум</h5>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>

      </div>

      <div class="col col-10  p-0 osn">
        <div class="row heder_poisk">
          <div class="col-1"></div>
          <div class="col-7">
            <form style="width: 100%; height: 100%;" action="{% url 'search' %}" method="get">
             <div style="position: relative;">
               <input style="padding-bottom: 20px; width: 80%; height: 80%; border-radius: 7px;" type="search" name="q"
                 placeholder="           Поиск">
               <input class="search_button" type="image" src="{% static 'images/icon/search.png' %}" value="Найти">
             </div>


            </form>
          </div>

          <div class="col-2"></div>

          <div class="col-2">
            <img class="header_icon" src="{% static 'images/icon/none_activ/premium_none_activ.png' %}" alt="">
            <img class="header_icon" src="{% static 'images/icon/bell.png' %}" alt="">
            <a href="{% url 'register' %}"><img class="header_icon" src="{% static 'images/icon/go_to_register.png' %}"
                alt=""></a>
          </div>

        </div>
        <div class="main_item">




          <div class="text_in_posters_container" style="display: block; margin-left: 50px;" id="One">

            <img style="width: 97%;" src="{% static 'images\main_pictures\klinok_demons.png'%}" alt="">

            <div class="text_in_poster">
              <div class="cont_textom_ne_osn" style="font-size: 40px; margin-bottom: 20px;">
                
                Клинок рассекающий демонов
              </div>

              <div class="cont_textom_ne_osn" style="margin-bottom: 20px;">
                3 сезон
              </div>

              <div class="cont_textom_ne_osn d-flex" style="margin-bottom: 18px;">
                <div style="margin-right: 5px;">
                  <img src="{% static 'images/icon/type.png'%}" alt="">
                </div>
                <div style="margin-right: 20px;">
                  Аниме
                </div>

                <div style="margin-right: 5px;">
                  <img src="{% static 'images/icon/clock.png'%}" alt="">
                </div>
                <div style="margin-right: 20px;">
                  23 Мин/Эп
                </div>

                <div style="margin-right: 5px;">
                  <img src="{% static 'images/icon/calendar.png'%}" alt="">
                </div>
                <div>
                  28 марта 2021
                </div>
              </div>
              <div class="cont_textom">
                Эпоха «Тайсё» была полна неожиданностей. Много легенд нашли свое
                логическое подтверждение в те года. Люди давненько стали думать о присутствии демонов в
                гущах леса. И эти существа были крайне опасны и кровожадны. В ночное время суток они
                вели охоту на людей, убивая невинных граждан, демоны питались их плотью.
              </div>
              
              <a href="#">
                <div class="woth_osn"><img src="" alt=""></div>
              </a>
              <div class="plus_osn"><img src="" alt=""></div>
            </div>
            <div class="next" onclick="clickOne()"><img src="{% static 'images\next.png' %}" alt=""></div>


          </div>


          <div class="text_in_posters_container" id="Two" style="display: none; margin-left: 50px;">

            <img style="width: 97%;" src="{% static 'images\main_pictures\naruto.png'%}" alt="">

            <div class="text_in_poster">
              <div class="cont_textom_ne_osn" style="font-size: 40px; margin-bottom: 20px;">
                Наруто
              </div>

              <div class="cont_textom_ne_osn" style="margin-bottom: 20px;">
                2 сезон
              </div>

              <div class="cont_textom_ne_osn d-flex" style="margin-bottom: 18px;">
                <div style="margin-right: 5px;">
                  <img src="{% static 'images/icon/type.png'%}" alt="">
                </div>
                <div style="margin-right: 20px;">
                  Аниме
                </div>

                <div style="margin-right: 5px;">
                  <img src="{% static 'images/icon/clock.png'%}" alt="">
                </div>
                <div style="margin-right: 20px;">
                  23 Мин/Эп
                </div>

                <div style="margin-right: 5px;">
                  <img src="{% static 'images/icon/calendar.png'%}" alt="">
                </div>
                <div>
                  5 декабря 2021
                </div>
              </div>
              <div class="cont_textom">
                Однажды демон напал на деревню, в которой родился мальчик Наруто.
                Чтобы остановить демона, глава поселения запечатал его внутри Наруто, но сам при этом
                погиб. Прошли годы. Наруто вырос, став гиперактивным и очень тупым ниндзя. Он всё ещё
                живёт в родной деревне, где его не особо любят и стараются избегать.
              </div>
              
              <a href="#">
                <div class="woth_osn"><img src="" alt=""></div>
              </a>
              <div class="plus_osn"><img src="" alt=""></div>
            </div>
            <div class="next" onclick="clickTwo()"><img src="{% static 'images\next.png' %}" alt=""></div>

          </div>



          <div class="text_in_posters_container" id="Three" style="display: none; margin-left: 50px;">

            <img style="width: 97%;" src="{% static 'images\main_pictures\ataka_titanovpng.png'%}" alt="">

            <div class="text_in_poster">
              <div class="cont_textom_ne_osn" style="font-size: 40px; margin-bottom: 20px;">
                Атака Титанов
              </div>

              <div class="cont_textom_ne_osn" style="margin-bottom: 20px;">
                4 сезон
              </div>

              <div class="cont_textom_ne_osn d-flex" style="margin-bottom: 18px;">
                <div style="margin-right: 5px;">
                  <img src="{% static 'images/icon/type.png'%}" alt="">
                </div>
                <div style="margin-right: 20px;">
                  Аниме
                </div>

                <div style="margin-right: 5px;">
                  <img src="{% static 'images/icon/clock.png'%}" alt="">
                </div>
                <div style="margin-right: 20px;">
                  23 Мин/Эп
                </div>

                <div style="margin-right: 5px;">
                  <img src="{% static 'images/icon/calendar.png'%}" alt="">
                </div>
                <div>
                  28 марта 2021
                </div>
              </div>
              <div class="cont_textom">
                
                В прошлом столетии человечество страдало из-за нашествия гигантов.
                Они были очень похожи внешностью на простых людей, но также имели несколько отличий. 
                Разница состояла в слишком больших размерах созданий и в их абсолютной глупости. Те, кому повезло 
                остаться в живых, приняли решение объединиться и приступить к самозащите.
              </div>
              
              <a href="#">
                <div class="woth_osn"><img src="" alt=""></div>
              </a>
              <div class="plus_osn"><img src="" alt=""></div>
            </div>
            <div class="next" onclick="clickThree()"><img src="{% static 'images\next.png' %}" alt=""></div>


          </div>
          
          


          <script type="text/javascript">
            function clickOne() {
              document.getElementById("One").style.display = "none";
              document.getElementById("Two").style.display = "block";
              document.getElementById("Three").style.display = "none";
            }

            function clickTwo() {
              document.getElementById("One").style.display = "none";
              document.getElementById("Two").style.display = "none";
              document.getElementById("Three").style.display = "block";
            }

            function clickThree() {
              document.getElementById("One").style.display = "block";
              document.getElementById("Two").style.display = "none";
              document.getElementById("Three").style.display = "none";
            }

          </script>
        </div>



        <div class="future">
          <div class="col col-2" style="margin-left: 40px;">
            Популярное
          </div>

          <div class="col col-1"></div>
          <div class="col col-6">

            <div class="row justify-content-evenly block_genres">

              {% for item in posters_anime %}
              <div class="col col-4 one_block_genres">
                <a href="{% url 'page_anime' item.url %}">
                  <div>
                    <img class="poster_img" src="{{ item.poster.url }}" alt="">
                  </div>
                </a>
              </div>

              {% endfor %}
            </div>
          </div>
        </div>
        
        <div style="background-color: grey; width: 100%; height: 200px; position: relative;">
        <img class="logo_in_info" src="{% static 'images\mini_logo.png' %}" alt="">
        </div>




      </div>
      
    </div>

    

  </div>

  
  </div>


  <script>
    function changeItemMain() {
      document.getElementById('main').style.width = '0%';
      document.getElementById('main').style.color = 'white';
      document.getElementById('icon_non_active_main').style.display = 'block';
      document.getElementById('icon_active_main').style.display = 'none';
    }
    function rechangeItemMain() {
      document.getElementById('main').style.width = '90%';
      document.getElementById('main').style.color = '#C3079A';
      document.getElementById('icon_non_active_main').style.display = 'none';
      document.getElementById('icon_active_main').style.display = 'block';
      document.getElementById('main').style.transition = 'all 0.3s ease-in-out';
    }

    function changeItemGender() {
      document.getElementById('gender').style.width = '0%';
      document.getElementById('gender').style.color = 'white';
      document.getElementById('icon_non_active_gender').style.display = 'block';
      document.getElementById('icon_active_gender').style.display = 'none';
    }
    function rechangeItemMainGender() {
      document.getElementById('gender').style.width = '90%';
      document.getElementById('gender').style.color = '#C3079A';
      document.getElementById('icon_non_active_gender').style.display = 'none';
      document.getElementById('icon_active_gender').style.display = 'block';
      document.getElementById('gender').style.transition = 'all 0.3s ease-in-out';
    }

    function changeItemFavorite() {
      document.getElementById('favorite').style.width = '0%';
      document.getElementById('favorite').style.color = 'white';
      document.getElementById('icon_non_active_favorite').style.display = 'block';
      document.getElementById('icon_active_favorite').style.display = 'none';
    }
    function rechangeItemMainFavorite() {
      document.getElementById('favorite').style.width = '90%';
      document.getElementById('favorite').style.color = '#C3079A';
      document.getElementById('icon_non_active_favorite').style.display = 'none';
      document.getElementById('icon_active_favorite').style.display = 'block';
      document.getElementById('favorite').style.transition = 'all 0.3s ease-in-out';
    }

    function changeItemPremium() {
      document.getElementById('premium').style.width = '0%';
      document.getElementById('premium').style.color = 'white';
      document.getElementById('icon_non_active_premium').style.display = 'block';
      document.getElementById('icon_active_premium').style.display = 'none';
    }
    function rechangeItemMainPremium() {
      document.getElementById('premium').style.width = '90%';
      document.getElementById('premium').style.color = '#C3079A';
      document.getElementById('icon_non_active_premium').style.display = 'none';
      document.getElementById('icon_active_premium').style.display = 'block';
      document.getElementById('premium').style.transition = 'all 0.3s ease-in-out';
    }
  </script>
</body>

</html>