{%load static%}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="docsearch:language" content="ru">
    <meta name="docsearch:version" content="5.0">
    <title>AnimeStock</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootstrap5.ru/css/docs.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
  
    <div class="container-fluid ">

      <div class="row">

        <div class="col p-0 prew">

          <!-- Логотип -->
          <divs>
            <img src="{% static 'images/logo.png' %}" alt="">
          </divs>

          <!-- Меню -->
          <div>
            <h5>Меню</h5>
          </div>

          <!-- Главная -->
          <a href="">
            <div>
              <h5>Главная</h5>
            </div>
          </a>

          <!-- Жанры -->
          <a href="">
            <div>
              <h5>Жанры</h5>
            </div>
          </a>

          <!-- Избранное -->
          <a href="">
            <div>
              <h5>Избранное</h5>
            </div>
          </a>

          <!-- Премиум -->

          <a href="">
            <div>
              <h5>Премиум</h5>
            </div>
          </a>

        </div>


          
        <div class="col col-10  p-0">
            3 из 3
        </div>



      </div>


    </div>
</body>
</html>