{%load static%}
<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="docsearch:language" content="ru">
    <meta name="docsearch:version" content="5.0">
    <title>Register</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootstrap5.ru/css/docs.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" href="{% static 'images/icon/icon.png' %}" type="image/svg+xml">
</head>

<body>

    <div class="container-fluid ">

        <div class="row  justify-content-start">

            <div class="col col-2 p-0 prew">



                <!-- Логотип -->
                <div class="cont">
                    <div class="phot_main_cont">
                        <img class="phot_main" src="{% static 'images/logo.png' %}" alt="">
                        <img class="" src="{% static 'images/vector.png' %}" alt="">
                    </div>

                    <!-- Меню -->
                    <div style="color: #FFFFFF;">
                        <h5 class="menu_text">Меню</h5>
                    </div>



                    <ul class="list-group ki">
                        <!-- Главная -->
                        <li class="li-he">
                            <a href="{% url 'index' %}" class="var_nav">
                                <div class="link_bg_main" id="main">
                                    <div class="margain_nav">
                                        <img class="icon" style="display: none;" id="icon_non_active_main"
                                            src="{% static 'images/icon/none_activ/main_none_activ.png' %}" alt="">
                                        <img class="icon" id="icon_active_main"
                                            src="{% static 'images/icon/activ/main_activ.png' %}" alt="">
                                        <h5 class="text_menu">Главная</h5>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <!-- Жанры -->
                        <li class="li-he" onmouseover="changeItemMain(); rechangeItemMainGender()"
                            onmouseout="rechangeItemMain(); changeItemGender()">
                            <a href="{% url 'genres' %}" class="var_nav">
                                <div class="link_bg" id="gender">
                                    <div class="margain_nav">
                                        <img class="icon" id="icon_non_active_gender"
                                            src="{% static 'images/icon/none_activ/gender_none_activ.png' %}" alt="">
                                        <img class="icon" style="display: none;" id="icon_active_gender"
                                            src="{% static 'images/icon/activ/gender_activ.png' %}" alt="">
                                        <h5 class="text_menu">Жанры</h5>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <!-- Избранное -->
                        <li class="li-he" onmouseover="changeItemMain(); rechangeItemMainFavorite()"
                            onmouseout="rechangeItemMain(); changeItemFavorite()">
                            <a href="#" class="var_nav">
                                <div class="link_bg" id="favorite">
                                    <div class="margain_nav">
                                        <img class="icon" id="icon_non_active_favorite"
                                            src="{% static 'images/icon/none_activ/favorite_none_activ.png' %}" alt="">
                                        <img class="icon" style="display: none;" id="icon_active_favorite"
                                            src="{% static 'images/icon/activ/favorite_activ.png' %}" alt="">
                                        <h5 class="text_menu">Избранное</h5>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <!-- Премиум -->

                        <li class="li-he" onmouseover="changeItemMain(); rechangeItemMainPremium()"
                            onmouseout="rechangeItemMain(); changeItemPremium()">
                            <a href="#" class="var_nav">
                                <div class="link_bg" id="premium">
                                    <div class="margain_nav">
                                        <img class="icon" id="icon_non_active_premium"
                                            src="{% static 'images/icon/none_activ/premium_none_activ.png' %}" alt="">
                                        <img class="icon" style="display: none;" id="icon_active_premium"
                                            src="{% static 'images/icon/activ/premium_activ.png' %}" alt="">
                                        <h5 class="text_menu">Премиум</h5>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="col col-10  p-0 osn">
                <div class="row heder_poisk">
                    <div class="col-1"></div>
                    <div class="col-7">
                        <form style="width: 100%; height: 100%;" action="{% url 'search' %}" method="get">
                            <input style="width: 80%; height: 100%; border-radius: 7px;" type="search" name="q"
                                placeholder="Поиск по сайту">
                            <input type="image" src="{% static 'images/icon/search.png' %}" value="Найти">


                        </form>
                    </div>

                    <div class="col-2"></div>

                    <div class="col-2">
                        <img class="header_icon" src="{% static 'images/icon/none_activ/premium_none_activ.png' %}"
                            alt="">
                        <img class="header_icon" src="{% static 'images/icon/bell.png' %}" alt="">
                        <a href="{% url 'register' %}"><img class="header_icon" src="{% static 'images/icon/go_to_register.png' %}" alt=""></a>
                    </div>

                </div>  

                <div class="row">
                    <div class="col-5"></div>
                    <div class="col-2">
                        <img style="width: 100%;" src="{% static 'images/phot_profil.png' %}" alt="">
                    </div>
                    <div class="col-5"></div>


                    <div class="col-4"></div>
                    <div class="col-4">
                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                            <label for="{{ field.id_for_label }}" class="register_text">{{ field.label }}</label>


                            <!-- <input class="register_input" type="" name="" placeholder=""> -->


                            {{ field }}


                            {% endfor %}




                            <!-- 
                            <label for="label_email" class="register_text">Email</label>

                            <input class="register_input" type="" name="" placeholder="">







                            <label for="label_pass" class="register_text">Пароль</label>

                            <input class="register_input" type="" name="" placeholder="">






                            <label for="label_repeat" class="register_text">Подтвердите пароль</label>

                            <input class="register_input" type="text" name="" placeholder=""> -->




                           
                            <!-- {% if form.errors %}
                            {% for field in form %}
                            {% for error in field.errors %}
                            <div class="alert alert-danger">
                                {{ error|escape }}
                            </div>
                            {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                            <div class="alert alert-danger" style="color:#FFFFFF;">
                                {{ error|escape }}
                            </div>
                            {% endfor %}
                            {% endif %} -->



                            <!-- {% for message in messages %}
                                <p id="messages"><div class="alert alert-danger" style="color:#FFFFFF;">{{ message }}</div></p>
                            {% endfor %} -->
                            
                                <!-- {{ messages }} -->

                                {% for message in messages.errors %}
                                    <p id="messages"><div class="alert alert-danger" style="color:#FFFFFF;">{{ message }}</div></p>
                                {% endfor %}

                            <span><label class="register_text"><label for="label_i_have">У вас есть аккаунт? </label>
                                    <a href="{% url 'login' %}"><span class="link_main_register"><label
                                                for="label_i_have">Вход</label></span></a>
                                    <br>

                                    <input class="buttun_registr" type="image"
                                        src="{% static 'images/button_register.png' %}"></span>
                        </form>

                    </div>
                    <div class="col-4"></div>
                </div>

            </div>



        </div>


    </div>


    <script>
        function changeItemMain() {
            document.getElementById('main').style.width = '0%';
            document.getElementById('main').style.color = 'white';
            document.getElementById('icon_non_active_main').style.display = 'block';
            document.getElementById('icon_active_main').style.display = 'none';
        }
        function rechangeItemMain() {
            document.getElementById('main').style.width = '90%';
            document.getElementById('main').style.color = '#C3079A';
            document.getElementById('icon_non_active_main').style.display = 'none';
            document.getElementById('icon_active_main').style.display = 'block';
            document.getElementById('main').style.transition = 'all 0.3s ease-in-out';
        }

        function changeItemGender() {
            document.getElementById('gender').style.width = '0%';
            document.getElementById('gender').style.color = 'white';
            document.getElementById('icon_non_active_gender').style.display = 'block';
            document.getElementById('icon_active_gender').style.display = 'none';
        }
        function rechangeItemMainGender() {
            document.getElementById('gender').style.width = '90%';
            document.getElementById('gender').style.color = '#C3079A';
            document.getElementById('icon_non_active_gender').style.display = 'none';
            document.getElementById('icon_active_gender').style.display = 'block';
            document.getElementById('gender').style.transition = 'all 0.3s ease-in-out';
        }

        function changeItemFavorite() {
            document.getElementById('favorite').style.width = '0%';
            document.getElementById('favorite').style.color = 'white';
            document.getElementById('icon_non_active_favorite').style.display = 'block';
            document.getElementById('icon_active_favorite').style.display = 'none';
        }
        function rechangeItemMainFavorite() {
            document.getElementById('favorite').style.width = '90%';
            document.getElementById('favorite').style.color = '#C3079A';
            document.getElementById('icon_non_active_favorite').style.display = 'none';
            document.getElementById('icon_active_favorite').style.display = 'block';
            document.getElementById('favorite').style.transition = 'all 0.3s ease-in-out';
        }

        function changeItemPremium() {
            document.getElementById('premium').style.width = '0%';
            document.getElementById('premium').style.color = 'white';
            document.getElementById('icon_non_active_premium').style.display = 'block';
            document.getElementById('icon_active_premium').style.display = 'none';
        }
        function rechangeItemMainPremium() {
            document.getElementById('premium').style.width = '90%';
            document.getElementById('premium').style.color = '#C3079A';
            document.getElementById('icon_non_active_premium').style.display = 'none';
            document.getElementById('icon_active_premium').style.display = 'block';
            document.getElementById('premium').style.transition = 'all 0.3s ease-in-out';
        }
    </script>
</body>

</html>